<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Stream RTC</h1>
    <video src="" id="currentVideo" controls width="300" height="200"></video>

    <video src="" id="friendStream" controls width="300" height="200"></video>
    
    <br> 
    <label>My Connection</label>
    <br>
    <textarea id="txtMySignal" cols="100" rows="3"></textarea>
    <br>
    <input type="text" placeholder="Your friend token" id="txtFriendSignal"><button id="btnConnect">Connect</button>
    <script type="text/javascript" src="bundle.js"></script>
</body>

</html>